/* RESET BÁSICO */
* { box-sizing: border-box; margin: 0; padding: 0; font-family: 'Arial', sans-serif; }

body {
    background-color: #ffffff; /* Fundo Branco Puro */
    color: #000000;
    padding-bottom: 80px; /* Espaço pro rodapé */
}

/* CABEÇALHO */
header {
    background-color: #000000; /* Preto Pixel */
    color: white;
    text-align: center;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: 4px solid #0056b3; /* Azul Pixel */
}

header h1 { font-size: 24px; font-weight: bold; letter-spacing: 1px; }
header p { display: none; } /* Removi a frase extra pra limpar */

/* LISTA DE LIVROS */
.container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px; /* Espaço menor entre livros */
}

.card-livro {
    background: #f8f9fa; /* Cinza super claro, quase branco */
    padding: 22px;
    border-radius: 8px;
    font-size: 26px; /* FONTE BEM GRANDE */
    font-weight: bold;
    color: #333;
    text-align: left; /* Alinhado a esquerda para leitura natural */
    border: 1px solid #ddd; /* Borda sutil */
    display: flex;
    justify-content: space-between; /* Nome na esq, seta na dir */
    align-items: center;
}

.card-livro:active {
    background-color: #0056b3; /* Azul quando toca */
    color: white; /* Texto fica branco quando toca */
}

/* SETINHA DISCRETA */
.seta {
    font-size: 20px;
    color: #bbb;
}

/* RODAPÉ FIXO */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    padding: 15px;
    border-top: 1px solid #ccc;
    color: #555;
    font-size: 14px;
    font-weight: bold;
    z-index: 5;
}

/* LEITOR (TELA CHEIA) */
.leitor-tela {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: #ffffff;
    z-index: 20;
    display: flex;
    flex-direction: column;
}

.escondido { display: none; }

.barra-topo {
    background: #000000;
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    border-bottom: 4px solid #0056b3;
}

.btn-voltar {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    margin-right: 15px;
}

.conteudo-texto {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    font-size: 24px; /* LETRA GIGANTE */
    line-height: 1.5;
    color: #000;
}

.botoes-navegacao {
    padding: 20px;
    background: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botoes-navegacao button {
    padding: 15px 30px;
    font-size: 20px;
    background: #0056b3;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
}
